* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #544e4e;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 248px;
  padding-bottom: 16px;
}

.title {
  color: #a0a2a6;
  width: 456px;
  font-size: 25px;
  text-align: center;
}
