* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
  line-height: 22px;
}
ul li a {
  text-decoration: none;
  color: white;
}

.menu-bar {
  background-color: black;
  padding: 0 10%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
}
.logo {
  margin-right: 18px;
}
.nav-link {
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
}

.search-section img {
  position: relative;
  top: 3px;
  left: 25px;
}
.search-section input {
  width: 250px;
  line-height: 22px;
  border: none;
  border-radius: 1em;
  padding-left: 26px;
}

.register-section {
  font-size: 14px;
  font-weight: bold;
}
.register-section a {
  text-decoration: none;
  color: white;
  margin-right: 12px;
}
.register-section a img {
  margin-right: 6.5px;
}
.register-section button {
  border: none;
  padding: 10px 16px;
  background-color: white;
  font-weight: bold;
}
.register-section button:hover {
  cursor: pointer;
}
