* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid:
    "navbar navbar" 100px
    "sidebar app" 1fr
    "sidebar footer" 100px
    / 200px 1fr;
}

.navbar {
  grid-area: navbar;
  background-color: #ff5e5e;
}

.sidebar {
  grid-area: sidebar;
  background-color: #faff00;
}

.app {
  grid-area: app;
  background-color: #20e056;
}

.footer {
  grid-area: footer;
  background-color: #c4c4c4;
}
